// category keyframes

// CSS animations and power of SASS
// link https://glennmccomb.com/articles/creating-smooth-sequential-animations-with-sass/


@keyframes rotate
  0%
    transform: rotate(0)
  50%
    transform: rotate(360deg)
  100%
    transform: rotate(180deg)

body
  margin: 0
  font-family: Arial, Helvetica, sans-serif
  height: 100vh

.box
  display: inline-block
  position: absolute
  left: 50%
  top: 50%
  margin: -50px -50px
  background-color: red
  width: 100px
  height: 100px
  animation: rotate 1s infinite
